{% extends "base.html" %}
{% block content %}
<div class="layui-col-md12">
<fieldset class="layui-elem-field">
    <legend>字段集区块 - 默认风格</legend>
    <div class="layui-field-box">
        <div id="rate" style="height:400px;"></div>
    </div>
</fieldset>
</div>
<div class="layui-col-md12">
<fieldset class="layui-elem-field">
    <legend>字段集区块 - 默认风格</legend>
    <div class="layui-field-box">
        <div id="data" style="height:400px;"></div>
    </div>
</fieldset>
</div>
<script src="/static/echarts-2.2.7/build/dist/echarts.js"></script>
<!--<script src="/static/echarts-2.2.7/src/echarts.js"></script>-->
<script>
    // configure for module loader
    require.config({
        paths: {
            echarts: '/static/echarts-2.2.7/build/dist'
        }
    });
    // use
    require(
        [
            'echarts',
            'echarts/chart/bar' // require the specific chart type
        ],
        function (ec) {
            // Initialize after dom ready
            var myChart = ec.init(document.getElementById('rate'));
            option = {
                title : {
                    text: 'hello ',
                    subtext: ''
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['概率']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : {{ rate_x|safe }},
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'概率%',
                        type:'bar',
                        data:{{ rate_y|safe}},
                    },
//                        {
//                            name:'买入',
//                            type:'bar',
//                            data:{{buy_list|safe}},
//                        }
                ]
                };
            myChart.setOption(option);
        }
    );

</script>
<script>
    // configure for module loader
    require.config({
        paths: {
            echarts: '/static/echarts-2.2.7/build/dist'
        }
    });
    // use
    require(
        [
            'echarts',
            'echarts/chart/bar' // require the specific chart type
        ],

        function (ec) {
                // Initialize after dom ready
                var myChart = ec.init(document.getElementById('data'));
                option = {
                    title : {
                        text: 'hello ',
                        subtext: ''
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['下跌','上涨']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data : {{ data_x|safe }},
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'下跌',
                            type:'bar',
                            data:{{ data_y_down|safe}},
                        },
                        {
                            name:'上涨',
                            type:'bar',
                            data:{{data_y_up|safe}},
                        }
                    ]
                    };
                myChart.setOption(option);
            }
    );

</script>
{% endblock %}
